body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding-bottom: 1em;
}

h1 {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    text-align: center;
    align-items: center;
}

canvas {
    margin-top: 20px;
    display: none;
}

#bbCheckboxDiv, p {
    font-size: 0.8em;
}

.links {
    position: fixed; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    font-size: 0.8em;
}

a {
    color: blue;
}