body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding-bottom: 1rem;
}

h1 {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(36px, 2.5rem, 60px);
}

.container {
    text-align: center;
    align-items: center;
}

canvas {
    margin-top: 20px;
    display: none;
}

#bbCheckboxDiv, p {
    font-size: clamp(16px, 0.8rem, 36px);
}

.message {
    width: 50%;
    text-align: center;
}

.links {
    position: fixed; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px;
    font-size: clamp(16px, 0.8rem, 36px);
}

a {
    color: blue;
}


@media (max-width: 600px) {
    p {
      font-size: clamp(12px, 4vw + 1rem, 20px);
    }
    .message {
        width: 80%;
    }
}